{% if jobs %}
<table>
	<thead>
		<tr>
			<th>id</th>
			<th>task</th>
			<th>queue</th>
			<th>next run</th>
			<th>rule</th>
		</tr>
	</thead>
	<tbody>
		{% for j in jobs %}
		<tr>
			<td>{{ j.id }}</td>
			<td>{{ j.task_name }}</td>
			<td><kbd>{{ j.queue or "default" }}</kbd></td>
			<td>{{ j.next_run.strftime("%Y-%m-%d %H:%M:%S") }}</td>
			<td>{% if j.expr is defined %}{{ j.expr }}{% else %}{{ j.every.total_seconds() }}s{% endif %}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% else %}
<p class="secondary">no scheduled jobs ;c</p>
{% endif %}